<Configuration>
	<Appenders>
		<RollingFile name="rollingFile"
			fileName="${LOG_DIR}/application.log"
			filePattern="${LOG_DIR}/application.%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="rollingFile" />
		</Root>
	</Loggers>
</Configuration>